mixin Menu
    ul.header__links 
        li.header__link
            a(href="#") Home
        li.header__link
            a(href="#") Product
        li.header__link
            a(href="#") Pricing
        li.header__link
            a(href="#") About 
        li.header__link
            a(href="#") Contact
            
mixin Features(img, title, subtitle)
    .features__card 
        .card__image !{val.img}
        .card__title= val.title
        .card__subtitle= val.subtitle

mixin Partners(text= 'Client Name', src, alt)
    .partners__card 
        .partners__text= text
        .partners__logos
            img(src= val.src, alt= val.alt)

mixin Pricing(tariff, text, number, feature1= 'Pricing Feature', feature2= 'Pricing Feature', feature3= 'Pricing Feature', feature4= 'Pricing Feature', feature5= 'Pricing Feature')
    .pricing__card 
        h3.pricing__tariff= val.tariff
        h5.pricing__text= val.text
        .pricing__sum
            h2.pricing__number= val.number
            .pricing__number__inf
                h3.pricing__dollar $
                h5.pricing__text.pricing__period Per Month
        h5.pricing__feature= feature1
        h5.pricing__feature= feature2
        h5.pricing__feature= feature3
        h5.pricing__feature= feature4
        h5.pricing__feature= feature5
        button.button.pricing__button Order Now
