mixin Menu
    ul.header__links
        li.header__link
            a(href="#") Home
        li.header__link
            a(href="#") Product
        li.header__link
            a(href="#") Pricing
        li.header__link
            a(href="#") About 
        li.header__link
            a(href="#") Contact
            
mixin Features(img, title, subtitle)
    .features__card 
        .card__image !{img}
        .card__title= title
        .card__subtitle= subtitle

mixin Partners(text, src, alt)
    .partners__card 
        .partners__text= text
        .partners__logos
            img(src= src, alt= alt)

mixin Pricing(tariff, text, number, features)
    .pricing__card 
        h3.pricing__tariff= tariff
        h5.pricing__text= text

        .pricing__sum
            h2.pricing__number= number
            .pricing__number__inf
                h3.pricing__dollar $
                h5.pricing__text.pricing__period Per Month

        each feature in features
            h5.pricing__feature= feature
            
        button.button.pricing__button Order Now

mixin FooterMenu(title, ...items)
    .footer__section 
        h3.footer__title= title
        nav.footer__menu
            ul.footer__links 
                each item in items
                    li.footer__link
                        a(href="#")= item